################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assignment 1/assignment files/SIT120210694097A2-Portfolio.docx
/assignment 1/example/example 1
/assignment 1/example/example 2
/assignment 1/example/example 3
/assignment 1/Proposal.docx
