<html>
<head>
    <!-- Link style.css to this html file. -->
    <link rel="stylesheet" href="style.css">
    <!-- Load the required Vue files. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- The div that holds all of the body content. This div establishes the connection to the Vue "lister" component. -->
    <div id="lister">
        <!-- The wrapper div contains the css grid layout information. -->
        <div id="wrapper">
            <!-- The navigation bar for the website. This is a grid layout area. -->
            <section class="navbar">
                <ul class="navigation">
                    <li class="navigationLink"><a href="home.html">Home</a></li>
                    <!-- Member has the active class as it is the active page. -->
                    <li class="navigationLink"><a href="index.html">Member</a></li>
                    <li class="navigationLink"><a class="active" href="guest.html">Guest</a></li>
                    <li class="navigationLink"><a href="contact.html">Contact</a></li>
                    <li class="navigationLink">
                        <!-- A search bar that appears within the navigation bar. -->
                        <input class="searchBar" type="text" placeholder="Search..">
                    </li>
                </ul>
            </section>
            <!-- The main content section for the website. This is a grid layout area. -->
            <section class="mainContent">
                <!-- Displays an interactive "form" that makes use of vue binding, input binding and function calls to submit and recieve data. -->
                <div style="display:flex; flex-direction:column; align-items:center">
                    <!-- The main heading for the website. -->
                    <h1 style="text-align:center; font-size:3vw; padding:2%">
                        Password Place
                    </h1>
                    <!-- Displays and allows the user to edit the currently selected app's name. -->
                    <div style="margin:auto; padding:.5vh;">
                        <label class="generalText">App Name</label>
                        <input class="generalText" style="margin-left:2vw; text-align:center" v-model="list[currentItem].name" placeholder="App">
                    </div>
                    <!-- Displays and allows the user to edit their primary password -->
                    <div style="margin:auto; padding:.5vh">
                        <label class="generalText">Primary Password</label>
                        <input class="generalText" style="margin-left:2vw; text-align:center" v-model="primaryPassword" placeholder="Primary Password">
                    </div>
                    <!-- Displays the a generated password for the app or a prompt for the user to fill out all required information
                        if they have not yet done so.-->

                    <div style="margin:auto; padding:.5vh">
                        <label class="generalText" style="margin-right:1vw">Generated Password</label>
                        <label class="generalText">{{ GeneratePassword }}</label>
                    </div>
                </div>

            </section>
            <!-- The footer section for the website. This is a grid layout area. -->
            <section class="footer">
                <p class="generalText" style="text-align:center;">Trade Mark Limited</p>
            </section>
        </div>
    </div>
    <!-- Load the main.js file to allow us Vue calls from the Vue component "lister". -->
    <script src="main.js"></script>
</body>
</html>