.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
